{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block js %}
	<script type="text/javascript" src="/static/js/login.js"></script>
{% endblock %}

{% block content %}
<div class="row container">
	<div class="col-md-4">
		<form action="" >
		  <div class="form-group">
		    <label for="username">Username</label>
		    <input type="text" class="form-control" id="username" placeholder="Enter Username">
		  </div>
		  <div class="form-group">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" id="password" placeholder="Password">
		  </div>
		  <div class="form-group">
		    <label for="captcha">Captcha</label>
		    <img src="{{ captcha_url }}" class="captcha">
		    <input type="text" class="form-control" id="captcha">
		  </div>
		  <input type="text" name="" value="{{ ref_id }}" hidden>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
{% endblock %}
